<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359341632297-bqlc4tib56kl751r9nma0k4na4rnc98i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359341632297-bqlc4tib56kl751r9nma0k4na4rnc98i</string>
	<key>API_KEY</key>
	<string>AIzaSyBhtUr1-HT_r9ZUq_P_00GE_4tWKfGWr-I</string>
	<key>GCM_SENDER_ID</key>
	<string>359341632297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jrod.Stinder</string>
	<key>PROJECT_ID</key>
	<string>stinder-3f528</string>
	<key>STORAGE_BUCKET</key>
	<string>stinder-3f528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359341632297:ios:64947b2a8d667c65</string>
	<key>DATABASE_URL</key>
	<string>https://stinder-3f528.firebaseio.com</string>
</dict>
</plist>